:root {
    --primary-color: #2d2c2c;
    --font-color: #d7d7d7;
    --background-color: #222222;
    --accent-color: #2a2a2a;
    --second-primary: #ffffff32;
    --headerText-color: #dddddd;
    --b-gradient1: #444444;
    --b-gradient2: #151515;
    --pop-color: #181010;
}

:root.light {
    --primary-color: #ffffff;
    --font-color: #2d2d2d;
    --background-color: #d3d3d3;
    --accent-color: #ebebeb;
    --second-primary: #00000051;
    --headerText-color: #cdcdcd;
    --b-gradient1: #6c6c6c;
    --b-gradient2: #dbdbdb;
    --pop-color: #101018;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/**** header shrink on scroll ****/

/* HEADER BASE */
#mainHeader {
    position: fixed;
    border-radius: 50px;
    margin: 0 auto;
    border: 2px solid var(--font-color);
    top: 25px;
    width: 60%;
    height: 100px;
    transition: height 0.3s ease;
    overflow: hidden;
    z-index: 1000;
    font-family: 'YWFTRegistraat-RegularPlainDemo';
    display: flex;
    align-items: center;
    justify-content: center;
    left: 20%;
    background-color: var(--second-primary);
    transition: background-color 0.3s ease, color 0.3s ease;
}


/* SHRUNK STATE */
#mainHeader.shrink {
    height: 50px;
    transition: .3s ease;
    background-color: rgba(214, 214, 214, 0.867);
    width: 15%;
    left: 42.5%;
    background-image: url(/images/icons8-hamburger-menu-48.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
}

/* ONLY expand when hovered AND shrunk */
#mainHeader.shrink:hover {
    height: 100px;
    transition: .3s ease;
    width: 50%;
    left: 25%;
    background-image: none;
}

.textAppear {
    display: block;
}

.textDisappear {
    display: none;
}

/* NAV LAYOUT */

header {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.3s ease;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
}



/* TEXT APPEARS WITH DELAY ON HOVER */



/**Light switch button styling**/

.buttonPlacement {
    display: flex;
    top: 55px;
    width: -10%;
    right: 94%;
    position: absolute;
}

.btn {
    font-family: 'YWFTRegistraat-RegularPlainDemo';
    text-align: center;

}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: var(--font-color);
    color: var(--accent-color);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: var(--font-color);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/** Main text on home page **/
#home h1 {
    top: 0;
    height: 100%;
    font-size: 6rem;
    color: var(--font-color);
    font-family: 'YWFTRegistraat-RegularPlainDemo';
    font-weight: 500;
    font-weight: normal;
    font-style: normal;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}

.Name {
    left: 5%;
    width: 90%;
    height: auto;
    display: flex;
    padding: 1rem 2rem;
    margin-top: 20vh;
    margin-bottom: 1rem;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    overflow: none;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;

}


/**** gradient Background ***/

.b-screen {
    background: linear-gradient(270deg, var(--b-gradient2), var(--b-gradient1), var(--b-gradient2), var(--b-gradient1), var(--b-gradient2), var(--b-gradient1), var(--b-gradient2), var(--b-gradient1));
    background-size: 800% 800%;

    -webkit-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:42% 0%}
    50%{background-position:59% 100%}
    100%{background-position:42% 0%}
}
@keyframes AnimationName {
    0%{background-position:42% 0%}
    50%{background-position:59% 100%}
    100%{background-position:42% 0%}
}


html {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}


.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(6px);
    }

    100% {
        transform: translateY(0);
    }
}

#arrow {
    z-index: 999;
    position: fixed;
    top: 11vh;
    right: 8vw;
    border: solid 2px white;
    padding: 1rem 1rem;
    color: var(--font-color);
    weight: 700;
    fill: 0;
    background: transparent;
    border-radius: 20px;
    animation: float 2.5s ease-in-out infinite;
    transition: opacity 0.5s ease, transform 0.3s ease;
    cursor: pointer;
    visibility: hidden;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

#arrow:hover {
    background-color: var(--font-color);
    color: var(--background-color);
    transition: 0.3s ease;

}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2rem;
    justify-content: center;
    text-align: center;
}

nav a {
    color: var(--headerText-color);
    text-decoration: none;
    font-family: 'IsidoraSoft-Light';
    font-weight: 600;
    font-size:2rem;
    padding-right: .5em;
    opacity: 1;
    transition: .2s ease;
    text-align: center;
}

nav a:hover{
    transform: scale(1.2);
    transition: .2s;
    
}

.onHover:before,
.onHover:after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: var(--pop-color);
  z-index: -1;
  transition: all .35s;
}

.onHover:before{
  opacity: .5;
}

.onHover:after{
  transition-delay: .2s;
}

.onHover:hover {
    color: #fff;
}

.onHover:hover:before,
.onHover:hover:after{
  top: 0;
}

section {
    min-height: 100vh;
    padding: 2rem;
    margin: 0 auto;
}



.project {
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
}




/** sliding blocks **/

#sliding-blocks {
    position: relative;
    width: 90%;
    max-width: 1700px;
    height: 175px;
    margin-inline: auto;
    margin-top: 5rem;
    overflow: hidden;
    margin-bottom: 1rem;
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}

.img1,
.img2 {
    height: 175px;
    width: 200px;
    padding: 3rem;
    position: absolute;
    left: max(calc(200px * 8), 100%);
    animation-name: scrollLeft;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: -15s;
}

.img1 {
    border: solid 2px var(--font-color);
    border-radius: 2px;

}

.img2 {
    border: solid 2px var(--font-color);
    border-radius: 80px;

}


/************************* Modal Cards ***************************/
#modalContainer {
    position: relative;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    z-index: 1;
}

/* individual cards */
#modalContent {
    flex: 1 1 400px;
    max-width: 400px;
    background: #1e1e1e;
    color: var(--font-color);
    padding: 20px;
    border-radius: 15px;
    border: none;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s ease;
    box-sizing: border-box;
    border: 2px solid transparent;
}

#modalContent h2 {
    background-color: var(--accent-color);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-family: 'IsidoraSoft-Light';
    font-size: 30px;

}

#modalContent:hover {
    transform: translateY(-5px);
    transition: .2s;
    border: 2px solid var(--font-color);
}

/* images */
img[alt="Star Icon"] {
    margin: 5px;
    max-width: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 25px;
}

img[alt="codeLogo"] {
    margin: 5px;
    width: 96px;
}




@keyframes scrollLeft {
    to {
        left: -200px;
    }
}

.slide1 {
    animation-delay: calc(15s / 8 * (8 - 1) * -1);
}

.slide2 {
    animation-delay: calc(15s / 8 * (8 - 2) * -1);
}

.slide3 {
    animation-delay: calc(15s / 8 * (8 - 3) * -1);
}

.slide4 {
    animation-delay: calc(15s / 8 * (8 - 4) * -1);
}

.slide5 {
    animation-delay: calc(15s / 8 * (8 - 5) * -1);
}

.slide6 {
    animation-delay: calc(15s / 8 * (8 - 6) * -1);
}

.slide7 {
    animation-delay: calc(15s / 8 * (8 - 7) * -1);
}

.slide8 {
    animation-delay: calc(15s / 8 * (8 - 8) * -1);
}

/** End of Scroll Animation **/

@media screen and (max-width: 1800px) {
    #home h1 {
        font-size: 8rem;
    }
}